body {
    margin: 0;
    padding: 0;
}

a, input[type="submit"].link {
    transition: .25s;
    text-decoration: none;
}

a {
    color: #428bca;
}

a:hover {
    color: #023b6a;
}

nav, nav * {
    padding: 0px;
    margin: 0px;
}

nav {
    margin-bottom: 10px;
}

nav ul li {
    display: inline-block;
    border-right: solid 1px #ccc;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
}
nav ul li a:hover {
    background-color: #ddf;
}

nav ul li:last-child {
    border-right: solid 0px;
}

#content {
    margin: 0 10px;
}

thead tr th {
    border-bottom: solid 1px #ccc;
}

tfoot tr td {
    border-top: solid 1px #ccc;
}

div.create-story {
    width: 600px;
    margin-top: 25px;
}

#create-story input, #create-story textarea, #create-story select {
    padding: 5px;
    width: 471px;
    margin: 0 0 10px 0;
}

textarea {
    border-radius: 4px;
    height: 90px;
}


#create-story input[type="submit"] {
    width: 100px;
    float: right;
}

#create-story input.estimate {
    width: 30px;
    margin-right: 10px;
}

label, #story .label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
}

input[type="submit"].link {
    background-color: #fff;
    border: solid 0;
    display: inline-block;
    padding: 12px;
}
input[type="submit"].link:hover {
    background-color: #ddf;
}

.danger {
    color: #f33;
}

input[type="submit"].danger:hover {
    background-color: #fdd;
}

#story {
    width: 600px;
}

#story .content {
    padding: 5px;
    margin-left: 110px;
}

#story .content ul {
    padding: 0;
    margin: 0 0 0 15px;
}

#story .content ul li {
    margin: 0;
}
