{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script src="{% static 'whiteboard/js/create-dev.js' %}"></script>
{% endblock %}
{% block content %}
<form method="POST">
  <input type="text" name="name" placeholder="Enter developer name here" id="inpName" />
  <input type="submit" value="Enter" id="btnCreate" />
  {% csrf_token %}
</form>
<div id="dev-list">
  {% if developers %}
  <ul>
    {% for dev in developers %}
    <li>{{ dev.name }}</li>
    {% endfor %}
  </ul>
  {% else %}
  No developers exist on the system
  {% endif %}
</div>
{% endblock %}
