{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script src="{% static 'whiteboard/js/select.js' %}"></script>
{% endblock %}
{% block content %}

  <h1>Existing Stories</h1>
  {% if stories %}
  <form method="POST">
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" id="select-all" /></th>
          <th>Title</th>
          <th>Spent/Estimate</th>
        </tr>
      </thead>
      <tbody>
      {% for story in stories %}
      <tr>
        <td><input type="checkbox" name="selection" value="{{ story.id }}" /></td>
        <td><a href="{% url 'story' story.id %}">{{ story.title }}</a></td>
        <td>{{ story.spent_time }} / {{ story.estimate_time }}</td>
      </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><input type="submit" name="delete" value="Delete" /></td>
          <td>{{ total_spent }} / {{ total_estimate }}</td>
        </tr>
      </tfoot>
    </table>
    {% csrf_token %}
  </form>
  {% else %}
  <p>There are no stories so far</p>
  {% endif %}

  <a href="/whiteboard/queue/new/">Create a story</a>
{% endblock %}
