{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script src="{% static 'whiteboard/js/create-iter.js' %}"></script>
{% endblock %}
{% block content %}
<form method="POST">
  <input type="text" name="title" placeholder="Enter iteration title here" id="inpTitle" />
  <input type="submit" value="Enter" id="btnCreate" />
  {% csrf_token %}
</form>
<div id="iter-list">
  {% if iterations %}
  <ul>
    {% for iter in iterations %}
    <li>{{ iter.title }}</li>
    {% endfor %}
  </ul>
  {% else %}
  No iterations exist on the system
  {% endif %}
</div>
{% endblock %}

