{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
<script src="{% static 'whiteboard/js/select.js' %}"></script>
{% endblock %}
{% block content %}


  <nav>
  <ul>
    <li><a href="{% url 'edit_story' story.id %}">Edit</a></li><!--
    --><li><a href="{% url 'create_task' story.id %}">Add task</a></li><!--
    --><li>
      <form action="{% url 'queue' %}" method="POST">
        <input type="hidden" value="{{ story.id }}" name="selection" />
        <input type="submit" name="delete" value="Delete" class="link danger" />
        {% csrf_token %}
      </form>
    </li>

  </ul>
</nav>

<div id="story">
  <span class="label">Title:</span>
  <p class="content">{{ story.title }}</p>

  <span class="label">Content:</span>
  <p class="content">{{ story.content }}</p>

  <span class="label">Spent/Estimate:</span>
  <p class="content">{{ story.spent_time }} / {{ story.estimate_time }}</p>

  <span class="label">Tasks:</span>

  {% if story.task_set.all %}
  <form method="POST" class="content">
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" id="select-all" /></th>
          <th>Title</th>
          <th>Spent/Estimate</th>
        </tr>
      </thead>
      <tbody>
      {% for task in story.task_set.all %}
      <tr>
        <td><input type="checkbox" name="selection" value="{{ task.id }}" /></td>
        <td><a href="{% url 'task' story.id task.id %}">{{ task.title }}</a></td>
        <td>{{ task.spent_time }} / {{ task.estimate_time }}</td>
      </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><input type="submit" name="delete" value="Delete" /></td>
          <td>{{ story.spent_time }} / {{ story.task_assigned_time }}</td>
        </tr>
      </tfoot>
    </table>
    {% csrf_token %}
  </form>
  {% else %}
  There are no tasks for this story yet.
  {% endif %}




</div>

{% endblock %}
