{% extends "base.html" %}
{% block content %}

  <nav>
  <ul>
    <li><a href="{% url 'edit_task' story.id task.id %}">Edit</a></li><!--
    --><li>
      <form action="{% url 'story' story.id %}" method="POST">
        <input type="hidden" value="{{ task.id }}" name="selection" />
        <input type="submit" name="delete" value="Delete" class="link danger" />
        {% csrf_token %}
      </form>
    </li>
  </ul>
</nav>

<div id="story">
  <span class="label">Title:</span>
  <p class="content">{{ task.title }}</p>

  <span class="label">Content</span>
  <p class="content">{{ task.body }}</p>

  <span class="label">Spent/Estimate:</span>
  <p>{{ task.spent_time }} / {{ task.estimate_time }}</p>
</div>
Log some time for this task:
<form method="POST">
  <select name="developer">
    {% for dev in developers %}
    <option value="{{ dev.id }}" {% if task.developer.pk == dev.pk %}selected{% endif %}>{{ dev.name }}</option>
    {% endfor %}
  </select>
  <input size="2" name="time" />minutes
  <input type="submit" value="Enter" />
  {% csrf_token %}
</form>
{% endblock %}
