{% extends "base.html" %}
{% block content %}
{% if errors %}
{{ errors }}
{% endif %}
<div class="create-story">
<form method="POST" id="create-story">
  <label for="title">Title:</label>
  <input type="text" name="title" value="{{ story.title }}" id="title" />

  <label for="content">Content:</label>
  <textarea id="content" name="content">{{ story.content }}</textarea>

  <label for="estimate">Estimate:</label>
  <input type="text" class="estimate" name="estimate" value="{{ story.estimate_hours }}" id="estimate" />hours
  <input type="submit" value="Enter" />
  {% csrf_token %}
</form>
</div>
{% endblock %}
