{% extends "base.html" %}
{% block content %}
{% if errors %}
{{ errors }}
{% endif %}
<div class="create-story">
<form method="POST" id="create-story">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title" value="{{ task.title }}" />

  <label for="content">Content:</label>
  <textarea name="content" id="content">{{ task.body }}</textarea>

  <label for="developer">Developer:</label>
  <select name="developer" id="developer">
    {% for dev in developers %}
    <option value="{{ dev.pk }}" {% if dev.pk == task.developer.pk %}selected{% endif %}>{{ dev.name }}</option>
    {% endfor %}
  </select>

  <label for="iteration">Iteration:</label>
  <select name="iteration" id="iteration">
    {% for iter in iterations %}
    <option value="{{ iter.pk }}" {% if iter.pk == task.iteration.pk%}selected{% endif %}>{{ iter.title }}</option>
    {% endfor %}
  </select>

  <label for="estimate">Estimate:</label>
  <input type="text" name="estimate" class="estimate" id="estimate" value="{{ task.estimate_hours }}" />hours

  <input type="submit" value="Enter" />
  {% csrf_token %}
</form>
</div>
{% endblock %}

