{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>XPTracker</title>
    <link href="{% static 'whiteboard/css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% block navigation %}
    <nav>
      <ul>
        <li><a href="/whiteboard/developers/">Developers</a></li><!-- removing whitespace
        --><li><a href="/whiteboard/iterations/">Iterations</a></li><!-- removing whitespace
        --><li><a href="/whiteboard/queue/">Stories/Tasks</a></li>
      </ul>
    </nav>
    {% endblock %}

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    {% block js %}{% endblock %}
  </body>
</html>
